<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>Battleship V: Battle Royale Edition</title>
        <link rel = "stylesheet"type = "text/css" href = "stylesheets/splash.css" />   
        <link rel="shortcut icon" type="image/png" href="images/favi.png"/>
        <script type="text/javascript" src="javascripts/jquery.js"></script>
    </head>

    <body>
        <main class="main">
            <div class="body">
                <nav id="nav">
                    <h2>
                        <image src="images/logo.png" id="splash_logo">Battleship V</image>
                        <a href="instructions" id="how-to-button">How-To-Play Guide</a>
                    </h2>
                </nav>

                <div id="content">
                <div id="left">
                    <div id="top">
                        <h4 style="text-decoration:underline; font-weight: bold; color: rgb(83, 0, 0);">Exited Games: </h4>
                        <h4 id="peopleonline">
                            <%= exitedGames %>
                            Exited
                            <%if (gamesInitialized != 1) { %>
                                Games
                            <% } else { %>
                                Game
                            <% } %>
                        </h4>
                        <h4 style="text-decoration:underline; font-weight: bold; color: rgb(83, 0, 0);">Ongoing games: </h4>
                        <h4 id="peopleplaying">
                          <%= gamesInitialized %> 
                          <%if (gamesInitialized != 1) { %>
                            Games
                          <% } else { %>
                            Game
                          <% } %>
                          initialized 
                          
                        </h4>
                        <h4 style="text-decoration:underline; font-weight: bold; color: rgb(83, 0, 0);">Games completed: </h4>
                        <h4 id="completedgames">
                          <%= gamesCompleted %>
                          Completed
                        </h4>

                    </div>
                    <div id="bottom">
                            <p>BEST GAME of the year!</p>
                            <i> -according to us...</i>
                            <p>FREE to play!</p>
                            <i> - for the first 2 battles only...</i>
                            <p>Made by experts!</p>
                            <i> - self proclaimed experts with only a few months of experience...</i>
                    </div>
                </div>
                <div id="middle">
                        
                            <h1>BATTLESHIP V: BATTLE ROYALE EDITION </h1>
                            <h3>supports 1-v-1 only</h3></br>
                            <form action="/place-ships" method="get">
                                <button type="submit">PLAY</button>
                            </form>
                </div>

                 
                <div id="right">   
                    <div id="bottom">
                             <p>right</p>
                    </div>
                </div>
                </div>         
            </div>
        </main>
        <footer id="footer">
                <div id="footer-l">&copy&nbspCopyright 2018  | All rights reserved. </div>
                <div id="footer-m">Support us on patreon!</div>
                <div id="footer-r">... we need the money...</div>
        </footer>
    </body>
</html>
