body {
    background-color: #181a1b;
}

.error {
    margin: auto;
}

.error h1 {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 107, 107);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.error h2 {
    color: rgb(212, 211, 211);
    position: relative;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}