body, html {
	height: 100%;
	background-color: #000000;
 }
 
 .main {
	background: url("../images/background.png");
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	background: rgba(122, 102, 179, 0.9);
	font-size: x-large;
	font-weight:600;
	color: rgb(151, 2, 2);
}

#splash_logo{ 
	height: 70px; 
	width: auto;
	vertical-align: middle;
}

.centerbutton{
	position: absolute;
	text-align: center;
	top:50%;
	left: 50%;
}

.online_count{
	position:relative;
	height: 5px;
	font-size:12px;
	font-weight:400;
	white-space:nowrap;
	color:#999;
	background-color: rgb(255, 255, 255);
}

.battlefield{
	position:relative; 
	width:100%;
	height:80%;
	border: 0px solid #FD1E1E;
	background-color: rgba(255,255,255,0.7);

	
}
.battlefield_self{
	position: absolute;
	float:left;
	margin-left:10%;
	width:500px;
	height:500px;
    border: 0px solid #000000;
	background: url("../images/template.png");
	background-size: auto;
    background-repeat: no-repeat;
    opacity: 1;
	 
}
.battlefield_self_table{
	position:relative;
	width:100%;
	height:100%;
	border-collapse:collapse;
	cursor:default;
	display:inline-block;
	border: 0px solid #ffffff;
}


.battlefield_row{
 
	width:100%;
	border-collapse:collapse;

}

.battlefield_cell{

	width:28px;
	height:24.5px;
	border: 1px solid #ffffff;
	border-collapse:collapse;
	cursor:not-allowed;

}

.battlefield_cell0{

	width:20px;
	height:20px;
	border: 1px solid #ffffff;
	border-collapse:collapse;
	color: #ffffff;
	background-color: rgba(4, 4, 70, 0.7);
	text-align: center;
}

.battlefield_cell1{

	width:35.5px;
	height:35.5px;
	cursor:pointer;
	border: 1px solid #ffffff;
	border-collapse:collapse;

}

.battlefield_cell2{
	
	width:35.5px;
	height:35.5px;
	border: 1px solid #ffffff;
	border-collapse:collapse;
	background-color: rgba(4, 4, 70, 0.7);
	color: #ffffff;
	text-align: center;
}


.battlefield_cell1:hover{
	background-color: rgb(235, 229, 229);
}

 

.battlefield_rival{
	
	float:right;
	margin-right:10%;
	width:350px;
	height:350px;
	border: 0px solid #FD1E1E;
	background: url("../images/template.png");
	background-size: auto;
    background-repeat: no-repeat;
	 
}

.battlefield_rival_table{
	position:relative;
	width:100%;
	height:100%;
	border-collapse:collapse;
	cursor: default;
	display:inline-block;
	border: 0px solid #BB820F;
} 


#middle{
	width:80%;
	margin: auto;
	text-align: center;
	height: 100%;
	background: url("../images/world.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	
}

#right{
	width: 5%;
	float: right;
}

#footer{
	width: 100%;
	height: 2em;
	background: rgb(122, 102, 179);
	color:white;
	font-weight:bold;
	font-size:12px;
	position:fixed;    /*Here's what sticks it*/
	bottom:0;          /*to the bottom of the body*/
	left:0;            /*and to the left of the body.*/
	z-index: 1;
	
	/*EFFECTS*/
	transition:.33s linear;
}

#footer:hover{
	background:black;
}

h1 {
	font-weight:600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
	color: rgb(151, 2, 2);
	text-align: center;
}

a {
	background-color: rgb(49, 31, 207);
	margin-top: 0.3em;
	padding: 0.2em;
	border-radius: 8px;
	text-decoration: none;
	display: inline-block;
	color: white;
	height: 44px;
}

a:hover{
	background-color: rgba(150, 0, 0, 0.7);
}

i, p {
	font-size: 86%;
	color: rgb(83, 0, 0);
}

h3{
	font-size: 250%;
	color: rgb(255, 255, 255);
	display: inline-block;
}

#you_tag{ 
	margin-left: 78%; 
	font-size: 100%;
}

#opponent_tag{
	margin-left: 20%; 
	margin-top: 5%; 
	font-size: 120%;
}

#timer{
	font-size: 23px; 
	right: 45%; 
	color:rgb(0, 0, 0); 
	position: absolute; 
	margin-top:5%; 
	display: none;
}

#timertext{
	position: absolute; 
	left: 46%; 
	color:white; 
	font-size: 50px; 
	margin-top:25px; 
	display:inline-block;
}

#timertext2{
	font-size: 23px; 
	margin-left: 45%;
	color:rgb(0, 0, 0); 
	position: absolute; 
	margin-top:0.4%; 
	text-decoration: underline;

}
