html {
  background: #000000;
}

.main {
  border: 1px solid #000;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.body {
  position: relative;
  width: 90%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: 900px;
  z-index: 1;
}

.header {
  position: relative;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  color: rgb(151, 2, 2);
  background-color: rgba(149, 133, 192, 0.5);
}

.notifications-container {
  width: 100%;
  text-align: center;
}

.notifications-container .alert {
  margin-bottom: 9px;
}

#footer {
  width: 100%;
  background: rgb(122, 102, 179);
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  position: fixed; /*Here's what sticks it*/
  bottom: 0; /*to the bottom of the body*/
  left: 0; /*and to the left of the body.*/
  z-index: 1;

  /*EFFECTS*/
  transition: 0.33s linear;
}

#footer:hover {
  background: black;
}

#footer-l {
  float: left;
  width: 20%;
  vertical-align: middle;
}

#footer-m {
  float: middle;
  width: 70%;
  vertical-align: middle;
}

#footer-r {
  float: right;
  width: 30%;
  vertical-align: middle;
}

h1 {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  font-size: 300%;
  color: rgb(151, 2, 2);
  text-align: center;
}

h3 {
  font-size: 250%;
  color: rgb(255, 255, 255);
  display: inline-block;
}

#fullscreen {
  width: 4%;
  height: auto;
  float: right;
  margin-top: 1%;
  margin-right: 5%;
}

#fullscreen:hover {
  width: 6%;
  height: auto;
  margin-top: 0;
  margin-right: 4%;
}
