#loading-gif {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

div.battlefield span {
    position: absolute;
    align-content: center;
    top: 465px;
    left: 425px;
    font-size: 25px;
    font-weight: bold;
}

  